@media (min-width : 576px) and (max-width : 992px){
    #navel-2 
    {
        visibility: visible;
    }
}
@media (max-width : 2000px) and (min-width : 992px){
    #navel-2 
    {
        visibility: hidden;
    }
}
#navel-2 {
    border-radius: 5px;
}